<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

	<appSettings>
		<add key="check1" value="True"/>
		<add key="check2" value="True"/>
		<add key="check3" value="True"/>
		<add key="check4" value="True"/>
		<add key="check5" value="True"/>
		<add key="text1" value="PDF|pdf|CAJ|caj|DocBox"/>
	</appSettings>
</configuration>
